.center{
	text-align: center;
}

.imgCenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.imgCircle{
    border-radius: 50%; 
}

.imgRes{
	height: auto;
	max-width: 100%;
}

#footer {
    position:fixed;
    z-index:999;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    width:100%;
}
#footer img {width:100%;}
  .foot{
    width: 33.33%;
    float: left;
    height: 50px;
    line-height: 50px;
  }